* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
}

body {
    /* background-color: #262626 */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: #d4418e; */
    background-color: #42376b;
    /* background: linear-gradient(to bottom right, #0066eb 0%, #ff8ab3 100%); */
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.loading {
    background-color: grey;
    opacity: 0.5;
}

i {
    float: right;
}

.wrap {
    width: 50%;
    margin: 8% auto auto;
    font-size: 16px;
}

input, label {
    display: block;
    margin: 5px 5px 0 0;
    padding: 5px;
    width: 100%;
    height: 42.5px;
    /* border-top: none;
    border-right: none;
    border-left: none;
    background-color: inherit; */
    outline: none;
}

input#newUrl {
    display: inline-block;
    margin: 0px 2px 0 0;
    width: 80%;
    vertical-align: middle;
}

.copy {
    display: inline-block;
    width: 19%;
    vertical-align: middle;
}

.prev-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.prev {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    margin: 0 auto;
}

.urls {
    display: flex;
    justify-content: flex-end;
}

i.fa-copy, i.fa-trash, i.fa-check {
    font-size: 24px;
    margin-left: 18px;
    cursor: pointer;
}

i.fa-copy{
    color: green;
}

i.fa-check {
    color: #007bff;
}

i.fa-copy:hover {
    opacity: 0.7;
}

i.fa-trash {
    color: #ff0000;
}

i.fa-trash:hover {
    opacity: 0.7;
}

.delete-options {
    display: none;
}

.delete-options.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@-webkit-keyframes slide {
    100% {
        transform: translate(0);
    }
}

@keyframes slide {
    100% {
        transform: translate(0);
    }
}

@media (min-width: 1200px) {
    .delete-options{
        transform: translate(50%);
        overflow: hidden;
    }
    .delete-options.active {
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 0s;
        animation: slide 0.5s forwards;
        animation-delay: 0s;
        overflow: hidden;
    }
    @-webkit-keyframes slide {
        100% {
            transform: translate(0);
        }
    }
    
    @keyframes slide {
        100% {
            transform: translate(0);
        }
    }
}

.delete-options.active>div {
    width: 27.5%;
}

.option {
    width: 100%;
    height: 35.5px
}

.option.list, .option.db {
    background-color: #ff0000;
}

a {
    color: #007bff;
}

.inactive {
    display: none !important;
}

.shortened-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    align-self: center;
}

.original-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 530px;
    align-self: center;
    color: #fff;
}

.shortened-url-wrap, .original-url-wrap {
    display: flex;
}

.error {
    color: #ff0000;
    font-size: 20px;
}

.vertical-bar {
    color: #fff;
    width: 2px;
    margin-left: 10px;
    margin-right: 0px;
}

button {
    height: 42.5px;
    background-color: #007bff;
    box-shadow: 3px 3px 0 0 #ccc;
    color: #fff;
    font-size: 18px;
    outline: none;
}

label {
    color: #fff;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.short {
    width: 100%;
    margin: 5px 5px 0 0;
}

@media (max-width: 1024px) {
    .delete-options.active {
        flex-direction: column;
    }
    .delete-options.active>div {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 60%;
    }
    .shortened-url {
        max-width: 100%;
    }
    .shortened-url-wrap, .original-url-wrap {
        max-width: 50%;
    }
    .original-url {
        max-width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .copy {
        width: 18%;
    }
}

@media (max-width: 768px) {
    input#newUrl {
        width: 100%;
        margin-bottom: 16px;
    }
    .copy {
        width: 100%;
    }
    .wrap {
        width: 70%;
    }
    .prev {
        width: 100%;
    }
    .shortened-url {
        max-width: 70%;
    }
    .shortened-url-wrap, .original-url-wrap {
        max-width: 50%;
    }
    .original-url {
        max-width: 90%;
    }
    .delete-options.active {
        flex-direction: column;
    }
    .delete-options.active>div {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .shortened-url {
        max-width: 90%;
    }
    .shortened-url-wrap, .original-url-wrap {
        max-width: 50%;
    }
    .original-url {
        max-width: 90%;
    }
}